
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #080;
  overflow: hidden;
}

.stadium {
  position: absolute;
  left: 0;
  top: 0;
  width: 2800px;
  height: 1700px;
}

.pitch {
  overflow: hidden;
  position: absolute;
  left: 300px;
  top: 300px;
  width: 2200px;
  height: 1100px;
  border: 3px solid #fff;
}

.halfway-line {
  position: absolute;
  left: 50%;
  height: 100%;
  width: 3px;
  background: #fff;
}

.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
}

.center-spot {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -9px;
  margin-top: -9px;
}

.penalty-arc-left {
  position: absolute;
  top: 50%;
  left: 200px;
}
.penalty-spot-left {
  position: absolute;
  top: 50%;
  left: 200px;
  margin-left: -9px;
  margin-top: -9px;
}

.penalty-arc-right {
  position: absolute;
  top: 50%;
  right: 200px;
}
.penalty-spot-right {
  position: absolute;
  top: 50%;
  right: 200px;
  margin-right: -9px;
  margin-top: -9px;
}

.penalty-area-left {
  position: absolute;
  top: 247px;
  width: 300px;
  height: 600px;
  border: 3px solid #fff;
  border-left: none;
}

.goal-area-left {
  position: absolute;
  top: 394px;
  width: 100px;
  height: 306px;
  border: 3px solid #fff;
  border-left: none;
}

.penalty-area-right {
  position: absolute;
  top: 247px;
  right: 0;
  width: 300px;
  height: 600px;
  border: 3px solid #fff;
  border-right: none;
}

.goal-area-right {
  position: absolute;
  top: 394px;
  right: 0;
  width: 100px;
  height: 306px;
  border: 3px solid #fff;
  border-right: none;
}

.corner-arc-bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.corner-arc-top-right {
  position: absolute;
  right: 0;
}

.corner-arc-bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.goal-nets-left {
  position: absolute;
  top: 50%;
  left: 300px;
  z-index: 5;
}

.goal-nets-right {
  position: absolute;
  top: 50%;
  right: 300px;
  z-index: 5;
}

.corner-flag-top-left {
  position: absolute;
  top: 312px;
  left: 300px;
}

.corner-flag-top-left:before {
  content: ' ';
  position: absolute;
  left: 180px;
  top: 12px;
  width: 3px;
  height: 6px;
  background: #fff;
}

.corner-flag-top-left:after {
  content: ' ';
  position: absolute;
  left: -6px;
  top: 195px;
  width: 6px;
  height: 3px;
  background: #fff;
}

.corner-flag-bottom-left {
  position: absolute;
  bottom: 285px;
  left: 300px;
}

.corner-flag-bottom-left:before {
  content: ' ';
  position: absolute;
  left: 180px;
  top: 21px;
  width: 3px;
  height: 6px;
  background: #fff;
}

.corner-flag-bottom-left:after {
  content: ' ';
  position: absolute;
  left: -6px;
  top: -162px;
  width: 6px;
  height: 3px;
  background: #fff;
}

.corner-flag-top-right {
  position: absolute;
  top: 312px;
  right: 282px;
}

.corner-flag-top-right:before {
  content: ' ';
  position: absolute;
  left: -177px;
  top: 12px;
  width: 3px;
  height: 6px;
  background: #fff;
}

.corner-flag-top-right:after {
  content: ' ';
  position: absolute;
  left: 3px;
  top: 195px;
  width: 6px;
  height: 3px;
  background: #fff;
}

.corner-flag-bottom-right {
  position: absolute;
  bottom: 285px;
  right: 282px;
}

.corner-flag-bottom-right:before {
  content: ' ';
  position: absolute;
  left: -177px;
  top: 21px;
  width: 3px;
  height: 6px;
  background: #fff;
}

.corner-flag-bottom-right:after {
  content: ' ';
  position: absolute;
  left: 3px;
  top: -162px;
  width: 6px;
  height: 3px;
  background: #fff;
}
